<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
				<div th:if="${success}" class="alert alert-success">
       				 Registration successful! You can now log in.
   				 </div>
					<div class="card mt-3">
                    <div class="card-header text-center fs-4">Registration Page</div>
                    <div class="card-body">
                        <form th:action="@{/registration}" method="post" th:object="${user}" id="registrationForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" id="phone" th:field="*{phone}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" id="dob" th:field="*{dob}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Gender:</label>
                                <select class="form-control" th:field="*{gender}" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Email Id</label>
                                <input type="text" class="form-control" id="email" th:field="*{email}" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" id="password" th:field="*{password}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Re-type Password</label>
                                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary form-control">Register</button>
                            <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
